.profile__add-button {
  position: absolute;
  right: 0;
  margin: auto 0;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: #000000;
  border-radius: 2px;
  align-self: center;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    position: relative;
    margin: auto;
    align-self: initial;
    width: inherit;
    right: initial;
  }
}