.element {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
  align-content: flex-start;
}

/*.element:first-of-type {
  grid-column: 2;
  grid-row: 2;
}
.element:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.element:nth-of-type(3) {
  grid-column: 3;
  grid-row: 2;
}

.element:nth-of-type(4) {
  grid-column: 3;
  grid-row: 1;
}

.element:nth-of-type(5) {
  grid-column: 2;
  grid-row: 1;
}

.element:last-of-type {
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 890px) {
  .element:first-of-type {
    grid-column: initial;
    grid-row: 5;
  }

  .element:nth-of-type(2) {
    grid-column: initial;
    grid-row: 4;
  }

  .element:nth-of-type(3) {
    grid-column: initial;
    grid-row: 6;
  }

  .element:nth-of-type(4) {
    grid-column: initial;
    grid-row: 3;
  }

  .element:nth-of-type(5) {
    grid-column: initial;
    grid-row: 2;
  }

  .element:last-of-type {
    grid-column: initial;
    grid-row: 1;
  }
}/*